[submodule "services/restaurant-service"]
	path = services/restaurant-service
	url = https://github.com/hxshan/restaurant-service.git
[submodule "services/order-service"]
	path = services/order-service
	url = https://github.com/hxshan/order-service.git
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/hxshan/user-service.git
[submodule "services/auth-service"]
	path = services/auth-service
	url = https://github.com/hxshan/auth-service.git
[submodule "services/delivery-service"]
	path = services/delivery-service
	url = https://github.com/hxshan/delivery-service.git
[submodule "services/api-gateway"]
	path = services/api-gateway
	url = https://github.com/hxshan/api-gateway-food-delivery.git
[submodule "services/admin-service"]
	path = services/admin-service
	url = https://github.com/hxshan/admin-service.git
[submodule "services/delivery-service"]
	path = services/delivery-service
	url = https://github.com/hxshan/delivery-service.git
